body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  margin-top: 10px;
  margin-left: 10px;
  
}
.secondInput{
  margin-top: 10px;
}
.btn{
  margin-top: 10px;
}
.main{
  width: 1440px;
  height: 100vh;
  background-color: #244cb3;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.todoTitle{
  color: #FFFFFF;
}
.theInp{
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: #bf225c 2px solid;
  color: #FFFFFF;
  font-size: 20px;
}
.btn{
  width: 300px;
  height: 40px;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #3105a8;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover{
  width: 310px;
  height: 45px;
  font-size: 25px;
  transition: all ease 0.2s;
}
.item{
  width: 340px;
  height: 160px;
  border: 2px solid #3105a8;
  margin-top: 20px;
  border-radius: 15px;
}
.itemTitle{
  margin: 5px 0 0 5px;
  color: #FFFFFF;
  width: 100px;
  border-bottom: #bf225c 2px solid;
  border-radius: 15px;
  align-items: center;
  text-align: center;font-size: 30px;
}
.itemText{
  margin: 5px 0 0 5px;
  color: #FFFFFF;
  height: 50px;
  width: 300px;
  border: #bf225c 2px solid;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}
.itemBtn{
  margin: 15px 0 0 20px;
  height: 30px;
  width: 300px;
  background-color: #bf225c;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.itemBtn:hover{
  width: 305px;
  height: 35px;
  transition: all ease 0.2s;
}